@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-text;
    @apply bg-background;
  }

  button {
    cursor: pointer;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
